# general cursor rules template

## PROJECT OVERVIEW

- We're building a full-stack e-commerce using Medusa.js and Next.js
- We're using the Medusa-starter-template
- We're using the Tailwind CSS framework
- We're using the Stripe payment processor
- We're using the PostgreSQL database  


## PERSONALITY

- Teach me like a senior lead developer.
- Have a friendly logical solution oriented approach.

## TECH STACK

- Medusa.js
- Next.js
- Tailwind CSS
- Stripe
- PostgreSQL



### ERROR FIXING PROCESS - optional

    1. Explain that around simple terms. 
    2. Then start by writing 3 reasoning paragraphs analyzing what the error might be. 
    
    DO NOT JUMP TO CONCLUSIONS.

    3. Then, write the solution.

    You should start the reasoning process with lots of uncertainty and slowly gain confidence as you think about the item more.

### BUILDING PROCESS - optional

## Our .env variables

- backend/.env
- frontend/.env

## CURRENT FILE STRUCTURE

➜  MedusaJS git:(main) ✗ tree -L 6 -a -I "node_modules|.git|.next|__pycache__|.DS_Store|.pytest_cache|.vscode"
.
├── .cursor
│   └── rules
│       └── medusajs-project.mdc
├── .cursorignore
├── .cursorrules
├── busbasisberlin
│   ├── .env
│   ├── .env.template
│   ├── .env.test
│   ├── .gitignore
│   ├── .medusa
│   │   └── types
│   │       ├── index.d.ts
│   │       ├── modules-bindings.d.ts
│   │       └── query-entry-points.d.ts
│   ├── .yarnrc.yml
│   ├── README.md
│   ├── instrumentation.ts
│   ├── integration-tests
│   │   ├── http
│   │   │   ├── README.md
│   │   │   └── health.spec.ts
│   │   └── setup.js
│   ├── jest.config.js
│   ├── medusa-config.ts
│   ├── package-lock.json
│   ├── package.json
│   ├── src
│   │   ├── admin
│   │   │   ├── README.md
│   │   │   ├── tsconfig.json
│   │   │   └── vite-env.d.ts
│   │   ├── api
│   │   │   ├── README.md
│   │   │   ├── admin
│   │   │   │   └── custom
│   │   │   │       └── route.ts
│   │   │   └── store
│   │   │       └── custom
│   │   │           └── route.ts
│   │   ├── jobs
│   │   │   └── README.md
│   │   ├── links
│   │   │   └── README.md
│   │   ├── modules
│   │   │   └── README.md
│   │   ├── scripts
│   │   │   ├── README.md
│   │   │   └── seed.ts
│   │   ├── subscribers
│   │   │   └── README.md
│   │   └── workflows
│   │       └── README.md
│   ├── tsconfig.json
│   └── yarn.lock
├── busbasisberlin-storefront
│   ├── .env.local
│   ├── .eslintrc.js
│   ├── .github
│   │   └── ISSUE_TEMPLATE
│   │       └── bug-report.yml
│   ├── .gitignore
│   ├── .prettierrc
│   ├── .yarnrc.yml
│   ├── LICENSE
│   ├── README.md
│   ├── check-env-variables.js
│   ├── next-env.d.ts
│   ├── next-sitemap.js
│   ├── next.config.js
│   ├── package-lock.json
│   ├── package.json
│   ├── postcss.config.js
│   ├── public
│   │   └── favicon.ico
│   ├── src
│   │   ├── app
│   │   │   ├── [countryCode]
│   │   │   │   ├── (checkout)
│   │   │   │   │   ├── checkout
│   │   │   │   │   ├── layout.tsx
│   │   │   │   │   └── not-found.tsx
│   │   │   │   └── (main)
│   │   │   │       ├── account
│   │   │   │       ├── cart
│   │   │   │       ├── categories
│   │   │   │       ├── collections
│   │   │   │       ├── layout.tsx
│   │   │   │       ├── not-found.tsx
│   │   │   │       ├── order
│   │   │   │       ├── page.tsx
│   │   │   │       ├── products
│   │   │   │       └── store
│   │   │   ├── layout.tsx
│   │   │   ├── not-found.tsx
│   │   │   ├── opengraph-image.jpg
│   │   │   └── twitter-image.jpg
│   │   ├── lib
│   │   │   ├── config.ts
│   │   │   ├── constants.tsx
│   │   │   ├── context
│   │   │   │   └── modal-context.tsx
│   │   │   ├── data
│   │   │   │   ├── cart.ts
│   │   │   │   ├── categories.ts
│   │   │   │   ├── collections.ts
│   │   │   │   ├── cookies.ts
│   │   │   │   ├── customer.ts
│   │   │   │   ├── fulfillment.ts
│   │   │   │   ├── onboarding.ts
│   │   │   │   ├── orders.ts
│   │   │   │   ├── payment.ts
│   │   │   │   ├── products.ts
│   │   │   │   └── regions.ts
│   │   │   ├── hooks
│   │   │   │   ├── use-in-view.tsx
│   │   │   │   └── use-toggle-state.tsx
│   │   │   └── util
│   │   │       ├── compare-addresses.ts
│   │   │       ├── env.ts
│   │   │       ├── get-precentage-diff.ts
│   │   │       ├── get-product-price.ts
│   │   │       ├── isEmpty.ts
│   │   │       ├── medusa-error.ts
│   │   │       ├── money.ts
│   │   │       ├── product.ts
│   │   │       ├── repeat.ts
│   │   │       └── sort-products.ts
│   │   ├── middleware.ts
│   │   ├── modules
│   │   │   ├── account
│   │   │   │   ├── components
│   │   │   │   │   ├── account-info
│   │   │   │   │   ├── account-nav
│   │   │   │   │   ├── address-book
│   │   │   │   │   ├── address-card
│   │   │   │   │   ├── login
│   │   │   │   │   ├── order-card
│   │   │   │   │   ├── order-overview
│   │   │   │   │   ├── overview
│   │   │   │   │   ├── profile-billing-address
│   │   │   │   │   ├── profile-email
│   │   │   │   │   ├── profile-name
│   │   │   │   │   ├── profile-password
│   │   │   │   │   ├── profile-phone
│   │   │   │   │   ├── register
│   │   │   │   │   └── transfer-request-form
│   │   │   │   └── templates
│   │   │   │       ├── account-layout.tsx
│   │   │   │       └── login-template.tsx
│   │   │   ├── cart
│   │   │   │   ├── components
│   │   │   │   │   ├── cart-item-select
│   │   │   │   │   ├── empty-cart-message
│   │   │   │   │   ├── item
│   │   │   │   │   └── sign-in-prompt
│   │   │   │   └── templates
│   │   │   │       ├── index.tsx
│   │   │   │       ├── items.tsx
│   │   │   │       ├── preview.tsx
│   │   │   │       └── summary.tsx
│   │   │   ├── categories
│   │   │   │   └── templates
│   │   │   │       └── index.tsx
│   │   │   ├── checkout
│   │   │   │   ├── components
│   │   │   │   │   ├── address-select
│   │   │   │   │   ├── addresses
│   │   │   │   │   ├── billing_address
│   │   │   │   │   ├── country-select
│   │   │   │   │   ├── discount-code
│   │   │   │   │   ├── error-message
│   │   │   │   │   ├── payment
│   │   │   │   │   ├── payment-button
│   │   │   │   │   ├── payment-container
│   │   │   │   │   ├── payment-test
│   │   │   │   │   ├── payment-wrapper
│   │   │   │   │   ├── review
│   │   │   │   │   ├── shipping
│   │   │   │   │   ├── shipping-address
│   │   │   │   │   └── submit-button
│   │   │   │   └── templates
│   │   │   │       ├── checkout-form
│   │   │   │       └── checkout-summary
│   │   │   ├── collections
│   │   │   │   └── templates
│   │   │   │       └── index.tsx
│   │   │   ├── common
│   │   │   │   ├── components
│   │   │   │   │   ├── cart-totals
│   │   │   │   │   ├── checkbox
│   │   │   │   │   ├── delete-button
│   │   │   │   │   ├── divider
│   │   │   │   │   ├── filter-radio-group
│   │   │   │   │   ├── input
│   │   │   │   │   ├── interactive-link
│   │   │   │   │   ├── line-item-options
│   │   │   │   │   ├── line-item-price
│   │   │   │   │   ├── line-item-unit-price
│   │   │   │   │   ├── localized-client-link
│   │   │   │   │   ├── modal
│   │   │   │   │   ├── native-select
│   │   │   │   │   └── radio
│   │   │   │   └── icons
│   │   │   │       ├── back.tsx
│   │   │   │       ├── bancontact.tsx
│   │   │   │       ├── chevron-down.tsx
│   │   │   │       ├── eye-off.tsx
│   │   │   │       ├── eye.tsx
│   │   │   │       ├── fast-delivery.tsx
│   │   │   │       ├── ideal.tsx
│   │   │   │       ├── map-pin.tsx
│   │   │   │       ├── medusa.tsx
│   │   │   │       ├── nextjs.tsx
│   │   │   │       ├── package.tsx
│   │   │   │       ├── paypal.tsx
│   │   │   │       ├── placeholder-image.tsx
│   │   │   │       ├── refresh.tsx
│   │   │   │       ├── spinner.tsx
│   │   │   │       ├── trash.tsx
│   │   │   │       ├── user.tsx
│   │   │   │       └── x.tsx
│   │   │   ├── home
│   │   │   │   └── components
│   │   │   │       ├── featured-products
│   │   │   │       └── hero
│   │   │   ├── layout
│   │   │   │   ├── components
│   │   │   │   │   ├── cart-button
│   │   │   │   │   ├── cart-dropdown
│   │   │   │   │   ├── cart-mismatch-banner
│   │   │   │   │   ├── country-select
│   │   │   │   │   ├── medusa-cta
│   │   │   │   │   └── side-menu
│   │   │   │   └── templates
│   │   │   │       ├── footer
│   │   │   │       ├── index.tsx
│   │   │   │       └── nav
│   │   │   ├── order
│   │   │   │   ├── components
│   │   │   │   │   ├── help
│   │   │   │   │   ├── item
│   │   │   │   │   ├── items
│   │   │   │   │   ├── onboarding-cta
│   │   │   │   │   ├── order-details
│   │   │   │   │   ├── order-summary
│   │   │   │   │   ├── payment-details
│   │   │   │   │   ├── shipping-details
│   │   │   │   │   ├── transfer-actions
│   │   │   │   │   └── transfer-image
│   │   │   │   └── templates
│   │   │   │       ├── order-completed-template.tsx
│   │   │   │       └── order-details-template.tsx
│   │   │   ├── products
│   │   │   │   ├── components
│   │   │   │   │   ├── image-gallery
│   │   │   │   │   ├── product-actions
│   │   │   │   │   ├── product-onboarding-cta
│   │   │   │   │   ├── product-preview
│   │   │   │   │   ├── product-price
│   │   │   │   │   ├── product-tabs
│   │   │   │   │   ├── related-products
│   │   │   │   │   └── thumbnail
│   │   │   │   └── templates
│   │   │   │       ├── index.tsx
│   │   │   │       ├── product-actions-wrapper
│   │   │   │       └── product-info
│   │   │   ├── shipping
│   │   │   │   └── components
│   │   │   │       └── free-shipping-price-nudge
│   │   │   ├── skeletons
│   │   │   │   ├── components
│   │   │   │   │   ├── skeleton-button
│   │   │   │   │   ├── skeleton-card-details
│   │   │   │   │   ├── skeleton-cart-item
│   │   │   │   │   ├── skeleton-cart-totals
│   │   │   │   │   ├── skeleton-code-form
│   │   │   │   │   ├── skeleton-line-item
│   │   │   │   │   ├── skeleton-order-confirmed-header
│   │   │   │   │   ├── skeleton-order-information
│   │   │   │   │   ├── skeleton-order-items
│   │   │   │   │   ├── skeleton-order-summary
│   │   │   │   │   └── skeleton-product-preview
│   │   │   │   └── templates
│   │   │   │       ├── skeleton-cart-page
│   │   │   │       ├── skeleton-order-confirmed
│   │   │   │       ├── skeleton-product-grid
│   │   │   │       └── skeleton-related-products
│   │   │   └── store
│   │   │       ├── components
│   │   │       │   ├── pagination
│   │   │       │   └── refinement-list
│   │   │       └── templates
│   │   │           ├── index.tsx
│   │   │           └── paginated-products.tsx
│   │   ├── styles
│   │   │   └── globals.css
│   │   └── types
│   │       ├── global.ts
│   │       └── icon.ts
│   ├── tailwind.config.js
│   ├── tsconfig.json
│   └── yarn.lock
└── instructions
    ├── bestPrompts.md
    ├── cursorrules.md
    ├── database.md
    ├── external documentation
    ├── markdown_syntax.md
    ├── prompt-structure.md
    ├── roadmap.md
    └── rulesforai.md

181 directories, 132 files

## GITHUB PUSH PROCESS

### 1. Check current branch

    git branch

### 2. stage changes

    ```bash
    git add .
    ```

### 3. commit changes

    ```bash
    git commit -m "Your clear and concise commit message"
    ```

### 4. push changes to github

    ```bash
    git push
    ```

## important

- repeat the most important instructions

## other context

## comments

- make sure to ALWAYS include comments in your code
- do not delete comments unless they are no longer needed
